{% extends 'website/base.html' %}
{% load static %}
{% block title %} About us {% endblock %}
{% block content %}
{% include 'website/navbar.html' %}
<section>
    	<div class="container">
			<div class="row alert alert danger">
			   <div class="col-md-6">
				   <h2 class="mb-4">Welcome to Azhea Faith Beauty Salon Website</h2>
    				<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
				   <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was</p>
			   </div>
			   <div class="col-md-6">
				   <div class="img img-about align-self-stretch">
						  <a href="blog-single.html"
							 class="block-20"
                           style="background-image: url({% static 'website/images/amirapic.jpg' %});">
                          </a>
					</div>
			   </div>
    		</div>
    	</div>
</section>
<section class="ftco-section bg-light">

  <div class="container">

     <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
             <h2 class="mb-4">Our Beauty Experts</h2>
             <p>Our Beauticians, has been trained well and stayed with us or a very long period of time until now  </p>
          </div>
       </div>

      <div class="row">

        <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
           <div class="staff">
                <div class="img mb-4"
                     style="background-image: url({% static 'website/images/john.jpg' %});">
                </div>
                 <div class="info text-center">
                   <h3><a href="teacher-single.html">John Dalisay</a></h3>
                      <span class="position">Stylist</span>
                      <div class="text">
                        <p> Our good looking and active newly hired barber from La Castellana</p>
                      </div>
                 </div>
           </div>
        </div>

        <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
            <div class="staff">
               <div class="img mb-4"
                   style="background-image: url({% static 'website/images/joy.jpg' %});">
               </div>
                  <div class="info text-center">
                      <h3><a href="teacher-single.html">Joylyn Vergara</a></h3>
                      <span class="position">Nail Specialist/Hair Stylist</span>
                      <div class="text">
                        <p>Meet our very young and good looking Nail Specialist from Sipalay City</p>
                     </div>
                  </div>
            </div>
        </div>

      <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
          <div class="staff">
             <div class="img mb-4"
                  style="background-image: url({% static 'website/images/person_3.jpg' %});">
             </div>
                  <div class="info text-center">
                       <h3><a href="teacher-single.html">Risa Grijaldo</a></h3>
                          <span class="position">Makeup Stylist</span>
                          <div class="text">
                              <p>Started as a nail specialist, one of the long staying and now our all around beautician and expert</p>
                          </div>
                   </div>
          </div>
      </div>

      <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
          <div class="staff">
              <div class="img mb-4"
                 style="background-image: url({% static 'website/images/person_4.jpg' %});">
              </div>
                   <div class="info text-center">
                        <h3><a href="teacher-single.html">Hylen Torcita</a></h3>
                           <span class="position">Nail Specialist</span>
                         <div class="text">
                              <p>Also, our oldest and still, young looking all around beautician</p>
                         </div>
                   </div>
          </div>
      </div>

    </div>



      <div class="row">

        <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
           <div class="staff">
                <div class="img mb-4"
                     style="background-image: url({% static 'website/images/john.jpg' %});">
                </div>
                 <div class="info text-center">
                   <h3><a href="teacher-single.html">John Dalisay</a></h3>
                      <span class="position">Stylist</span>
                      <div class="text">
                        <p> Our good looking,young and active new barber from La Castellana</p>
                      </div>
                 </div>
           </div>
        </div>

        <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
            <div class="staff">
               <div class="img mb-4"
                   style="background-image: url({% static 'website/images/joy.jpg' %});">
               </div>
                  <div class="info text-center">
                      <h3><a href="teacher-single.html">Joylyn Vergara</a></h3>
                      <span class="position">Nail Specialist/Hair Stylist</span>
                      <div class="text">
                        <p>Meet our very young and good looking Nail Specialist from Sipalay City</p>
                     </div>
                  </div>
            </div>
        </div>

      <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
          <div class="staff">
             <div class="img mb-4"
                  style="background-image: url({% static 'website/images/person_3.jpg' %});">
             </div>
                  <div class="info text-center">
                       <h3><a href="teacher-single.html">Risa Grijaldo</a></h3>
                          <span class="position">Makeup Stylist</span>
                          <div class="text">
                              <p>Started as a nail specialist, one of the long staying and now our all around beautician and expert</p>
                          </div>
                   </div>
          </div>
      </div>

      <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
          <div class="staff">
              <div class="img mb-4"
                 style="background-image: url({% static 'website/images/person_4.jpg' %});">
              </div>
                   <div class="info text-center">
                        <h3><a href="teacher-single.html">Hylen Torcita</a></h3>
                           <span class="position">Nail Specialist</span>
                         <div class="text">
                              <p>Also, our oldest and still, young looking all around beautician</p>
                         </div>
                   </div>
          </div>
      </div>

    </div>

  </div>

</section>


{% endblock %}
