{% load static %}
         <div class="hero-wrap js-fullheight"
              style="background-image: url({% static 'website/images/nikay5.jpg' %})"
              data-stellar-background-ratio="0.2">
                  <div class="overlay">
                  </div>
                       <div class="container">
                            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
                                 data-scrollax-parent="true">
                                      <div class="col-md-8 ftco-animate text-center"
                                           data-scrollax=" properties: { translateY: '70%' }">
                                              <div class="icon">
                                                        <!--   <a href="/" class="logo">
                                                           <span class="flaticon-flower"></span>-->
                                                  <h1>Azhea Faith</h1>
                                                                             <!--   </a>-->
                                              </div>
                                                       <h1 class="mb-4"
                                                           data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                                                        Beauty Salon
                                                       </h1>
                                                       <p class="mb-5"
                                                          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                                                          Created by <a href="#">A6_coder</a>
                                                       </p>
                                      </div>
                             </div>
                         </div>
            </div>