{% extends 'website/base.html' %}
{% load static %}

{% block content %}

{% include 'website/head.html' %}
{% include 'website/navbar.html' %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ftco-animate">
                         <div class="media d-block text-center block-6 services">
                             <div class="media-body">
                                 <h3 class="heading "><a href="{% url 'skin' %}">Skin &amp; Beauty Care</a>
                                     <div class="icon d-flex mb-3">
                                         <span class="flaticon-facial-treatment"></span>
                                     </div>
                                 </h3
                                 <p>Beauty is in the skin! Take care of it, oil it, clean it, scrub
                                    it, perfume it, and put on your best clothes, even if there is no
                                    special occasion, and you'll feel like a queen. If society is hard
                                     on you, fight back by pampering your skin. Skin is political.
                                    Otherwise why would the imams order us to hide it?</p>
                             </div>
                          </div>
            </div>

           <div class="col-md-4 ftco-animate">
                        <div class="media d-block text-center block-6 services">
                               <div class="media-body">
                                   <h3 class="heading"><a href="{% url 'skin' %}">Makeup Pro</a>
                                       <div class="icon d-flex mb-3">
                                         <span class="flaticon-cosmetics"></span>
                                       </div>
                                    </h3>
                                   <p>Beneath the makeup and behind the smile I am just a girl who
                                  wishes for the world.</p>
                             </div>
                        </div>
            </div>

            <div class="col-md-4 ftco-animate">
                        <div class="media d-block text-center block-6 services">
                               <div class="media-body">
                                   <h3 class="heading"><a href="{% url 'skin' %}">Hair Style</a>
                                       <div class="icon d-flex mb-3">
                                          <span class="flaticon-curl"></span>
                                       </div>
                                    </h3>
                                   <p>Hairdressers are a wonderful breed. You work one on one with
                                  another human being, and the object is to make them feel so much
                                  better, and to look at themselves with a twinkle in their eye</p>
                             </div>
                        </div>
            </div>

      <!--      <div class="col-md-4 ftco-animate">
                        <div class="media d-block text-center block-6 services">
                             <div class="icon d-flex mb-3">
                                <span class="flaticon-curl"></span>
                             </div>
                             <div class="media-body">
                             <h3 class="heading">Hair Style</h3>
                              <p>Hairdressers are a wonderful breed. You work one on one with
                                  another human being, and the object is to make them feel so much
                                  better, and to look at themselves with a twinkle in their eye</p>
                              </div>
                        </div>
                 </div>-->
        </div>
    </div>
</section>

<section class="ftco-section bg-light">

  <div class="container">

     <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
             <h2 class="mb-4">Our Beauty Experts</h2>
             <p>Our Beauticians, has been trained well and stayed with us or a very long period of time until now  </p>
          </div>
       </div>

      <div class="row">

        <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
           <div class="staff">
                <div class="img mb-4"
                     style="background-image: url({% static 'website/images/john.jpg' %});">
                </div>
                 <div class="info text-center">
                   <h3><a href="teacher-single.html">John Dalisay</a></h3>
                      <span class="position">Stylist</span>
                      <div class="text">
                        <p> Our good looking and active newly hired barber from La Castellana</p>
                      </div>
                 </div>
           </div>
        </div>

        <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
            <div class="staff">
               <div class="img mb-4"
                   style="background-image: url({% static 'website/images/joy.jpg' %});">
               </div>
                  <div class="info text-center">
                      <h3><a href="teacher-single.html">Joylyn Vergara</a></h3>
                      <span class="position">Nail Specialist/Hair Stylist</span>
                      <div class="text">
                        <p>Meet our very young and good looking Nail Specialist from Sipalay City</p>
                     </div>
                  </div>
            </div>
        </div>

      <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
          <div class="staff">
             <div class="img mb-4"
                  style="background-image: url({% static 'website/images/person_3.jpg' %});">
             </div>
                  <div class="info text-center">
                       <h3><a href="teacher-single.html">Risa Grijaldo</a></h3>
                          <span class="position">Makeup Stylist</span>
                          <div class="text">
                              <p>Started as a nail specialist, one of the long staying and now our all around beautician and expert</p>
                          </div>
                   </div>
          </div>
      </div>

      <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
          <div class="staff">
              <div class="img mb-4"
                 style="background-image: url({% static 'website/images/person_4.jpg' %});">
              </div>
                   <div class="info text-center">
                        <h3><a href="teacher-single.html">Hylen Torcita</a></h3>
                           <span class="position">Nail Specialist</span>
                         <div class="text">
                              <p>Also, our oldest and still, young looking all around beautician</p>
                         </div>
                   </div>
          </div>
      </div>

    </div>
      <div class="row">

        <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
           <div class="staff">
                <div class="img mb-4"
                     style="background-image: url({% static 'website/images/john.jpg' %});">
                </div>
                 <div class="info text-center">
                   <h3><a href="teacher-single.html">John Dalisay</a></h3>
                      <span class="position">Stylist</span>
                      <div class="text">
                        <p> Our good looking,young and active new barber from La Castellana</p>
                      </div>
                 </div>
           </div>
        </div>

        <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
            <div class="staff">
               <div class="img mb-4"
                   style="background-image: url({% static 'website/images/joy.jpg' %});">
               </div>
                  <div class="info text-center">
                      <h3><a href="teacher-single.html">Joylyn Vergara</a></h3>
                      <span class="position">Nail Specialist/Hair Stylist</span>
                      <div class="text">
                        <p>Meet our very young and good looking Nail Specialist from Sipalay City</p>
                     </div>
                  </div>
            </div>
        </div>

      <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
          <div class="staff">
             <div class="img mb-4"
                  style="background-image: url({% static 'website/images/person_3.jpg' %});">
             </div>
                  <div class="info text-center">
                       <h3><a href="teacher-single.html">Risa Grijaldo</a></h3>
                          <span class="position">Makeup Stylist</span>
                          <div class="text">
                              <p>Started as a nail specialist, one of the long staying and now our all around beautician and expert</p>
                          </div>
                   </div>
          </div>
      </div>

      <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
          <div class="staff">
              <div class="img mb-4"
                 style="background-image: url({% static 'website/images/person_4.jpg' %});">
              </div>
                   <div class="info text-center">
                        <h3><a href="teacher-single.html">Hylen Torcita</a></h3>
                           <span class="position">Nail Specialist</span>
                         <div class="text">
                              <p>Also, our oldest and still, young looking all around beautician</p>
                         </div>
                   </div>
          </div>
      </div>

    </div>

  </div>

</section>

<section class="ftco-section ftco-discount img"
         style="background-image: url({% static 'website/images/n1.jpg' %})">
              <div class="overlay"></div>
              <div class="container">
                   <div class="row justify-content-end">
                       <div class="col-md-5 discount ftco-animate">
                           <h3>Save up to 25% Off</h3>
                           <h2 class="mb-4">Student Discount</h2>
                           <p class="mb-4">
                           Our place is a walking distance to the University, and most of our customers are either students or faculty memebers,
                           that is why we give special discount to them.</p>
                           <p>
                           <a href="#" class="btn btn-white btn-outline-white px-4 py-3">Book Now</a>
                          </p>
                   </div>
               </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">Our Work</h2>
        <p>
          Because of the expertise of the beauticians in the field and for a long period of giving a quality and
          affordable service, we see to it the the output is at its best and all that is in will go out beautiful
          and happy.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <a href="#" class="work-entry">
          <img src="{% static 'website/images/work-1.jpg' %}"
            class="img-fluid"
            alt="Colorlib Template"/>
          <div class="info d-flex align-items-center">
            <div>
              <div class="icon mb-4 d-flex align-items-center justify-content-center">
                <span class="icon-search"></span>
              </div>
              <h3>Lips Makeover</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a href="#" class="work-entry">
          <img src="{% static 'website/images/work-2.jpg' %}"
               class="img-fluid"
                alt="Colorlib Template"/>
          <div class="info d-flex align-items-center">
            <div>
              <div class="icon mb-4 d-flex align-items-center justify-content-center">
                <span class="icon-search"></span>
              </div>
              <h3>Hair Style</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a href="#" class="work-entry">
          <img src="{% static 'website/images/work-3.jpg' %}"
               class="img-fluid"
               alt="Colorlib Template"/>
          <div class="info d-flex align-items-center">
            <div>
              <div class="icon mb-4 d-flex align-items-center justify-content-center">
                <span class="icon-search"></span>
              </div>
              <h3>Makeup</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="ftco-partner bg-light">
  <div class="container">
    <div class="row partner justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3 ftco-animate">
            <a href="#" class="partner-entry">
              <img src="{% static 'website/images/partner-1.jpg' %}"
                   class="img-fluid"
                   alt="Colorlib template"/>
            </a>
          </div>
          <div class="col-md-3 ftco-animate">
            <a href="#" class="partner-entry">
              <img src="{% static 'website/images/partner-2.jpg' %}"
                   class="img-fluid"
                   alt="Colorlib template"/>
            </a>
          </div>
          <div class="col-md-3 ftco-animate">
            <a href="#" class="partner-entry">
              <img src="{% static 'website/images/partner-3.jpg' %}"
                class="img-fluid"
                alt="Colorlib template"/>
            </a>
          </div>
          <div class="col-md-3 ftco-animate">
            <a href="#" class="partner-entry">
              <img src="{% static 'website/images/partner-4.jpg' %}"
                class="img-fluid"
                alt="Colorlib template"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">Beauty Pricing</h2>
        <p>
          Our pricing in one of the most affordable and with quality
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Hair Cutting &amp; Styling</h3>
          </div>
          <ul>
            <li>Reqular Male/Female- P100.00</li>
            <li>Student Male/Female - P80.00</li>
            <li>Hair Spa - P300</li>
            <li>Hair Iron - P150</li>
            <li>Hair Rebond - P1500</li>
          </ul>
          <p class="button text-center">
            <a href="#"
               class="btn btn-primary btn-outline-primary px-4 py-3">Order now</a>
          </p>
        </div>
      </div>
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Nail Cleaning </h3>
          </div>
          <ul>
            <li>Manicure - P100</li>
            <li>Pedicure - P100</li>
            <li>Foot Spa - P250</li>
          </ul>
          <p class="button text-center">
            <a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Order now</a>
          </p>
        </div>
      </div>
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry active pb-5 text-center">
          <div>
            <h3 class="mb-4">Facial</h3>
          </div>
          <ul>
            <li>Hair and Makeup - P 500</li>
            <li>Facial - P500</li>
          </ul>
          <p class="button text-center">
            <a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Order now</a>
          </p>
        </div>
      </div>
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Special Package</h3>
          </div>
          <ul>
            <li>Nail Cutting &amp; Styling</li>
            <li>Hair Trimming</li>
            <li>Spa Therapy</li>
            <li>Body Massage</li>
            <li>Manicure</li>
          </ul>
          <p class="button text-center">
            <a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Order now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-counter img"
         id="section-counter"
         style="background-image: url({% static 'website/images/bg_4.jpg' %})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <div class="icon">
                  <span class="flaticon-flower"></span>
                </div>
                <span>Makeup Over Done</span>
                <strong class="number" data-number="3500">0</strong>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <div class="icon">
                  <span class="flaticon-flower"></span>
                </div>
                <span>Procedure</span>
                <strong class="number" data-number="1000">0</strong>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <div class="icon">
                  <span class="flaticon-flower"></span>
                </div>
                <span>Happy Client</span>
                <strong class="number" data-number="3000">0</strong>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <div class="icon">
                  <span class="flaticon-flower"></span>
                </div>
                <span>Skin Treatment</span>
                <strong class="number" data-number="900">0</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">

  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Recent from blog</h2>
        <p>
          Our way of constantly communicating with our customers
        </p>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html"
            class="block-20"
            style="background-image: url({% static 'website/images/image_1.jpg' %});">
          </a>
          <div class="text py-4 d-block">
            <div class="meta">
              <div><a href="#">{{ post18.date_posted|date:"F d, Y" }}</a></div>
              <div><a href="#">{{ post18.author }}</a></div>
              <div>
                <img class="test rounded-circle mx-2" src="{{ post18.author.profile.image.url }}">
              </div>
            </div>
            <h3 class="heading mt-2">
              <a href="#">Skin Care for Teen Skin</a>
            </h3>
            <p>
               {{ post18.content }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a
            href="blog-single.html"
            class="block-20"
            style="
              background-image: url({% static 'website/images/image_2.jpg' %});
            "
          >
          </a>
          <div class="text py-4 d-block">
            <div class="meta">
              <div><a href="#">{{ post19.date_posted|date:"F d, Y" }}</a></div>
              <div><a href="#">{{ post19.author }}</a></div>
              <div>
                 <img class="test rounded-circle mx-2" src="{{ post19.author.profile.image.url }}">
              </div>
            </div>
            <h3 class="heading mt-2">
              <a href="#">Skin Care for Teen Skin</a>
            </h3>
            <p>
             {{ post19.content }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a
            href="blog-single.html"
            class="block-20"
            style="
              background-image: url({% static 'website/images/image_3.jpg' %});
            "
          >
          </a>
          <div class="text py-4 d-block">
            <div class="meta">
              <div><a href="#">{{ post20.date_posted|date:"F d, Y" }}</a></div>
              <div><a href="#">{{ post20.author }}</a></div>
              <div>
                 <img class="test rounded-circle mx-2" src="{{ post20.author.profile.image.url }}">
              </div>
            </div>
            <h3 class="heading mt-2">
              <a href="#">Skin Care for Teen Skin</a>
            </h3>
            <p>
             {{ post20.content }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
<div class="ftco-section ftco-appointment">
    <div class="row">
        <div class="overlay">
           </div>
           <div class="container">
               <div class="row d-md-flex align-items-center">
                   <div class="col-md-2">
                   </div>
                           <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                  <div class="appointment-info text-center p-5">
                                       <div class="mb-4">
                                         <h3 class="mb-3">Address</h3>
                                         <p>D# 4 Gensoli Bldg., Burgos St. Barangay Villamonte, Bacolod City, Philippines</p>
                                       </div>

                                       <div class="mb-4">
                                          <h3 class="mb-3">Phone</h3>
                                              <p class="day">
                                              <strong>+63 933 0695373</strong> or Local Landline<strong>034 703 2221</strong>
                                              </p>
                                       </div>

                                       <div>
                                         <h3 class="mb-3">Opening Hours</h3>
                                         <p class="day"><strong>Monday - Friday</strong></p>
                                         <span>08:00am - 09:00pm</span>
                                      </div>

                                  </div>
                           </div>
                           <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                               <form method="post">
				                	{% csrf_token %}
					                {{ form.as_p }}
				            	<input type="submit" value="Submit" >
				               </form>

            </div>
               </div>
        </div>
    </div>
</section>
{% endblock %}
