{% extends 'base.html' %}
{% load static %}
{% block meta_description %} Beauty Salon owned by Solmayor Family {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<section class="ftco-section contact-section">

        <div class="container mt-5">
          <div class="row block-9">
			  <div class="col-md-4 contact-info ftco-animate">

				  <div class="row">
					   <div class="col-md-12 mb-4">
		                    <h2 class="h4">Contact Information</h2>
		                </div>
		                <div class="col-md-12 mb-3">
		                   <p><span>Address:</span> D#4 Gensoli Bldg., Burgos St., Barangay Villamonte</p>
		                </div>
		                <div class="col-md-12 mb-3">
							<p><span>Phone:</span> <a href="tel://1234567920">+63 933 069 5373</a></p>
		                </div>
		                <div class="col-md-12 mb-3">
		                    <p><span>Email:</span> <a href="mailto:info@yoursite.com">nicvsolgm@gmail.com</a></p>
		                </div>
		                    <div class="col-md-12 mb-3">
		                       <p><span>Website:</span> <a href="https://nicvsolgm.wixsite.com/nvsjr">a6_coder.ml</a></p>
		                   </div>
				       </div>
			       </div>
			  <div>
                <form method="post">
					{% csrf_token %}
					{{ form\crispy }}
					<input type="submit" value="Save" >
				</form>
			  </div>
				<!--		<div class="col-md-1"></div>

			       <div class="col-md-8 ftco-animate">
                             <div method="post" class="contact-form" class=" was-validated">
				                 {% csrf_token %}
                                 <div class="container">
				                     <div class="row">
				                         <div class="col-md-8">
		                                    <div class="form-group">
		                                       <input type="text" name = 'name' class="form-control" placeholder="Your Name" required>
		                                    </div>
	                                     </div>
								      </div>
						         </div>

						  <div class="container">
				   <div class="row">
						<div class="col-md-8>
		                   <div class="form-group">
		                      <input type="text" name = 'phone' class="form-control" placeholder="Your Phone" required>
		                </div>
			       </div>
				   </div>

		           <div class="row">
	                   <div class="col-md-8">
		                    <div class="form-group">
		                       <input type="email" name = 'email' class="form-control" placeholder="Your Email" required>
		                    </div>
		                </div>
                  </div>

                 <div class="row">
                       <div class="form-group">
                               <textarea name="subject" id="" cols="30" rows="7" class="form-control" placeholder="Subject" required></textarea>
                       </div>
                       <div class="form-group">
                             <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
					   </div>
				 </div>

			   </div>
              </form>-->
            </div>
          </div>
        </div>
      </section>
{% endif %}

      <div class="google-maps mb-100">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.8497633379657!2d122.95267011451865!3d10.668767192394636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33aed1b0783bf4bb%3A0x1bf718ad6003f493!2sBurgos%20Public%20Market!5e0!3m2!1sen!2sph!4v1608791649153!5m2!1sen!2sph"
                  width="1500" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>

    {% endblock %}