	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/09/2018 05:20
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.b015c3712dc8.eot");
  src: url("./Flaticon.b015c3712dc8.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.86ef34fc4ba8.woff") format("woff"),
       url("./Flaticon.5eb2ce378d51.ttf") format("truetype"),
       url("./Flaticon.0e8b148284a3.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.0e8b148284a3.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-flower:before { content: "\f100"; }
.flaticon-cosmetics:before { content: "\f101"; }
.flaticon-curl:before { content: "\f102"; }
.flaticon-facial-treatment:before { content: "\f103"; }